@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* 
@media screen and (min-width: 1281px) and (max-width: 1536px) {
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 481px) and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
} 
*/

/* Reset default margin/padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Video Section *************************************************************************************************************************************************************/
.ag-video-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.ag-bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
}

.ag-overlay-content {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
}

.ag-cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #9c0900;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.ag-cta-button:hover {
  background-color: #790d07;
}

@media screen and (max-width: 768px) {
  .ag-video-section {
    position: relative;
    height: 60vh;
    overflow: hidden;
  }
  .ag-cta-button {
    font-size: 14px;
  }
}

/* Intro Section ************************************************************************************************************************************************************/
.ag-intro-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 30px;
}

.ag-intro-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1280px;
  padding-bottom: 30px;
}

.ag-intro-content h2 {
  color: #790d07;
}

@media screen and (max-width: 768px) {
  .ag-intro-content {
    width: 95%;
  }
}

/*  Product Section *************************************************************************************************************************************************************/
.ag-products-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: auto;
  padding-top: 30px;
  background-color: #f8f8f8;
}

.ag-products-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1280px;
}

.ag-products-content h2 {
  color: #790d07;
}

.ag-products-section-wrapper {
  display: flex;
  max-width: 1280px;
  width: 100%;
  padding-bottom: 30px;
}

.card-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.card-link img {
  margin-bottom: 30px;
}

.ingredient-name {
  text-align: center;
  font-size: 18px;
}

.swiper-slide-button {
  color: #9c0900 !important;
  font-size: 14px !important;
  width: 100%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #9c0900 !important;
  font-size: 24px !important;
}

.swiper-pagination-bullet-active {
  background-color: #9c0900 !important;
}

@media screen and (max-width: 768px) {
  .ag-products-content {
    width: 95%;
  }

  .ag-products-section-wrapper {
    width: 95%;
  }
}

/*  CERTIFICATION SECTION *************************************************************************************************************************************************************/
.ag-Certi-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: auto;
  padding-top: 30px;
}

.ag-Certi-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1280px;
}

.ag-Certi-content h2 {
  color: #790d07;
}

.ag-Certi-logos-infinite {
  max-width: 1280px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background: #fff;
  padding: 20px 0;
  padding-bottom: 30px;
}

.ag-logo-track {
  display: flex;
  width: max-content;
  gap: 60px;
  animation: scroll-continuous 10s linear infinite;
}

.ag-logo-track div {
  flex: 0 0 auto;
  margin-right: 40px;
}

.ag-logo-track img {
  width: 120px;
  height: auto;
  object-fit: contain;
}

@keyframes scroll-continuous {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ag-Certi-logos-infinite:hover .ag-logo-track {
  animation-play-state: paused;
}

@media screen and (max-width: 768px) {
  .ag-Certi-content {
    width: 95%;
  }
  .ag-Certi-logos-infinite {
    width: 95%;
  }
}

/*  USP SECTION *************************************************************************************************************************************************************/
.ag-usp-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: auto;
  padding-top: 30px;
  background-color: #f8f8f8;
}

.ag-usp-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1280px;
}

.ag-usp-content h2 {
  color: #790d07;
}
.ag-usp-content a {
  text-decoration: none;
  color: #790d07;
}

.ag-usp-cool-numbers {
  display: grid;
  gap: 30px;
  /* padding: 40px 20px; */
  text-align: center;
}
.ag-usp-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #790d07;
  min-height: 200px;
  border-radius: 10px;
}

.ag-usp-item h3 {
  font-size: 36px;
  color: #790d07;
  margin-bottom: 10px;
}

.ag-usp-item p {
  font-size: 16px;
  color: #555;
  margin: 0;
}

.ag-usp-content-sec {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  max-width: 1280px;
  padding-bottom: 30px;
}

.ag-usp-content-sec-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ag-usp-content-sec-item h2 {
  color: #790d07;
}

.ag-usp-item-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #790d07;
  min-height: 200px;
  border-radius: 10px;
}

.ag-usp-item-sec h3 {
  font-size: 36px;
  color: #790d07;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .ag-usp-cool-numbers {
    grid-template-columns: 1fr;
  }
  .ag-usp-content {
    width: 95%;
  }
  .ag-usp-content-sec {
    width: 95%;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .ag-usp-cool-numbers {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*  REVIEWS Section *************************************************************************************************************************************************************/
.ag-reviews-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: auto;
  padding-top: 30px;
}

.ag-reviews-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1280px;
}

.ag-reviews-content h2 {
  color: #790d07;
}

.ag-reviews-section-wrapper {
  display: flex;
  max-width: 1280px;
  width: 100%;
  padding-bottom: 30px;
}

.card-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.product-card-wrapper {
  margin: 0px 50px;
  overflow: hidden;
}

.card-item-reviews {
  gap: 30px;
}

.client-name {
  text-align: center;
  font-size: 16px;
}
.client-review {
  text-align: center;
  font-style: italic;
}
.client-location{
   font-style: italic;
}

@media screen and (max-width: 768px) {
  .ag-reviews-content {
    width: 95%;
  }

  .ag-reviews-section-wrapper {
    width: 95%;
  }
}

/*  FAQs Section *************************************************************************************************************************************************************/

.ag-accordion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: auto;
  padding-top: 30px;
  background: #f9f9f9;
}
.ag-accordion-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1280px;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header {
  width: 100%;
  padding-bottom: 5px;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  background: #f9f9f9;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.accordion-header:hover {
  color: #790d07
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  border-radius: 10px;
  transition: max-height 0.4s ease, padding 0.3s ease;
}

.accordion-content.open {
   margin: 10px 0px 15px 0px; 
}

.accordion-header .icon {
  font-size: 18px;
  transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {
  .ag-accordion-content {
    width: 95%;
  }
}